<ion-view cache-view="false">
<ion-nav-title>Edit</ion-nav-title>
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/general/patterns/index">Patterns</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="shift-patterns-detail">
      <h4>
        {{shiftPattern.group.name}}
      </h4>
      <div class="list shift-pattern-list">
        <label class="item item-input item-stacked-label">
          <div class="row">
            <div class="col col-67">
              <span class="input-label">Shift pattern name:</span>
              <label>
                <input class="shift-name-input" type="text" placeholder="E.g. Day Shift" ng-model="shiftPatternName">
              </label>
              <span class="input-label assertive ng-hide" ng-show="inputError">Please fill in</span>
            </div>
            <div class="col col-33">
              <span class="input-label">Abbreviation:</span>
              <label>
                <input class="shift-name-input" type="text" placeholder="E.g. Dx" ng-model="abbreviation">
              </label>
              <span class="input-label assertive ng-hide" ng-show="abbInputError">Please fill in</span>
              <span class="input-label assertive ng-hide" ng-show="lengthError">3 letters max</span>
            </div>
          </div>
        </label>
      </div>

      <ion-toggle ng-model="shiftPattern.swappable" ng-checked="shiftPattern.swappable" toggle-class="toggle-positive">Swappable shift?</ion-toggle>
      <ion-toggle ng-model="shiftPattern.entireDay" ng-checked="shiftPattern.entireDay" toggle-class="toggle-positive">Entire day?</ion-toggle>

      <div class="time-section-holder ng-hide" ng-show="!shiftPattern.entireDay">
        <div class="row">
          <div class="col">
            <p>
              Start time:
            </p>

            <div class="times-holder">
              <div>
                <i class="icon ion-arrow-up-b up-hour-icon start" ng-click="upHour($event)"></i>
                <i class="icon ion-arrow-up-b up-minute-icon start" ng-click="upMinute($event)"></i>
              </div>
              <div>
                {{shiftPattern.start_hour | numberFixedLen: 2}} : {{shiftPattern.start_minute | numberFixedLen: 2}}
              </div>
              <div>
                <i class="icon ion-arrow-down-b down-hour-icon start" ng-click="downHour($event)"></i>
                <i class="icon ion-arrow-down-b down-minute-icon start" ng-click="downMinute($event)"></i>
              </div>
            </div>
          </div>
          
          <div class="col">
            <p>
              End time:
              <span class="ng-hide" ng-show="nextDayEnd">
                *
              </span>
            </p>

            <div class="times-holder">
              <div>
                <i class="icon ion-arrow-up-b up-hour-icon end" ng-click="upHour($event)"></i>
                <i class="icon ion-arrow-up-b up-minute-icon end" ng-click="upMinute($event)"></i>
              </div>
              <div>
                {{shiftPattern.end_hour | numberFixedLen: 2}} : {{shiftPattern.end_minute | numberFixedLen: 2}}
              </div>
              <div>
                <i class="icon ion-arrow-down-b down-hour-icon end" ng-click="downHour($event)"></i>
                <i class="icon ion-arrow-down-b down-minute-icon end" ng-click="downMinute($event)"></i>
              </div>
            </div>
            <div class="ng-hide" ng-show="nextDayEnd">
              * Ends the next day
            </div>
          </div>
        </div>        
      </div>

      <div class="action-buttons-holder">
        <div>
          <button class="button button-positive" ng-click="saveShiftPattern(shiftPatternName, abbreviation)" ng-disabled="buttonClicked">
            {{actionButtonText}}
          </button>
          <ion-spinner icon="lines" class="join-leave-loader ng-hide" ng-show="buttonClicked"></ion-spinner>
          <div class="delete-link">
            <a class="assertive" ng-click="deleteShiftPattern()">
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
