<ion-view class="shifts-patterns" view-title="Shift patterns" ng-init="fetchShiftPatterns()" cache-view="false">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/general/index">General</a>
  </ion-nav-buttons>
  <div class="row loader-holder">
    <ion-spinner class="actual-loader spinner-positive ng-hide" icon="lines" ng-show="loader"></ion-spinner>
  </div>
  <ion-content>
    <div class="shifts-patterns patterns-tab-contents">
      <notification ng-model="message" class="ng-hide" ng-show="message"></notification>
      <div class="list">
        <ion-list ng-repeat="group in groupsWithShiftTypes">
          <div class="item item-divider shift-pattern-group">
            <div class="shift-pattern-group-name">
              {{group.name}}
            </div>
            <div class="text-in-group-divider" ng-if="group.user_is_admin">
              You are an admin for this group. Admins can add, update, or delete shift patterns for their groups. Shift patterns will show up in the order in which they were created.
            </div>
            <a class="add-pattern positive" href="#/tab/general/patterns/{{group.id}}/new" ng-if="group.user_is_admin">
              <i class="icon ion-android-add-circle"></i>
              Add pattern
            </a>
            <div class="text-in-group-divider" ng-if="!group.user_is_admin">
              <div>
                <ng-pluralize count="group.admin_users.length || 0" when="{'0': 'No admins', '1': 'Admin:', 'other': 'Admins:'}"></ng-pluralize>
                <span ng-repeat="user in group.admin_users">{{user.first_name}} {{user.last_name}}</span>
              </div>
              <div>
                Only <ng-pluralize count="group.admin_users.length || 0" when="{'0': 'admins', '1': 'the group admin', 'other': 'group admins'}"></ng-pluralize> can update shift patterns. Please reach out to <ng-pluralize count="group.admin_users.length || 0" when="{'0': 'them', '1': 'him/her', 'other': 'them'}"></ng-pluralize> if you would like something changed.
              </div>
            </div>
          </div>

          <div ng-if="group.user_is_admin">
            <ion-item ng-repeat="shiftType in group.shift_types" type="item-text-wrap" class="item item-icon-right" href="#/tab/general/patterns/{{shiftType.id}}">
              {{shiftType.abbreviation}}: {{shiftType.name}}
              <span class="item-note" ng-if="shiftType.swappable">
                {{shiftType.start_hour | numberFixedLen: 2}}:{{shiftType.start_minute | numberFixedLen: 2}} - {{prettyEndTime(shiftType)}}
              </span>
              <span class="item-note" ng-if="!shiftType.swappable">
                Not swappable
              </span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          </div>

          <div ng-if="!group.user_is_admin" class="item-not-in-admin">
            <ion-item ng-repeat="shiftType in group.shift_types" type="item-text-wrap" class="item">
              {{shiftType.abbreviation}}: {{shiftType.name}}
              <span class="item-note" ng-if="shiftType.swappable">
                {{shiftType.start_hour | numberFixedLen: 2}}:{{shiftType.start_minute | numberFixedLen: 2}} - {{prettyEndTime(shiftType)}}
              </span>
              <span class="item-note" ng-if="!shiftType.swappable">
                Not swappable
              </span>
            </ion-item>
          </div>

        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>