<ion-view view-title="Countries" cache-view="false">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/general/groups/create">Back</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">

      <label class="item item-radio" ng-repeat="country in countries" ng-click="countrySelected(country.name, country.id)">
        <input type="radio" name="all-countries" value="country.id" ng-checked="countryName == country.name">
        <div class="item-content">
          {{country.name}}
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

    </div>
  </ion-content>
</ion-view>