<ion-view view-title="Create Group" cache-view="false">
  <ion-nav-buttons side="left" >
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/general/groups/index">Groups</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list group-input-list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Group Name</span>
        <input type="text" placeholder="E.g. St. Paul's Cardiac Unit" ng-model="groupTitle">
      </label>
      <a class="item item-icon-right" ng-href="#/tab/general/groups/create/countries" ng-click="storeGroupTitle(groupTitle)">
        <h2>Country</h2>
        <p>{{country}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

    <div class="bottom-note">
      <div class="text-before-submit">
        You will be an admin in this group.
      </div>
      <button class="button button-positive" ng-click="createGroup(groupTitle)">
        Submit
      </button>
    </div>
  </div>

  </ion-content>
</ion-view>
