<ion-view view-title="Groups" ng-init="fetchGroups()">
  <ion-nav-buttons side="right" >
    <a class="button button-icon icon ion-plus-round" href="#/tab/groups/create"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-spinner icon="lines" ng-show="loader"></ion-spinner>
    <ion-list>
      <ion-item ng-repeat="group in groups" class="item-icon-right" type="item-text-wrap" href="#/tab/groups/{{group.id}}">
        {{group.id}}
        {{group.name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>