<ion-view view-title="Account">
  <ion-content>

  	<div class="list">
  		<label class="item item-input" >
		  <input type="email" placeholder="Email">
		</label>
	  <label class="item item-input">
	    <input type="text" placeholder="First Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Last Name">
	  </label>

	  <label class="item item-input">
		  <input type="password"  placeholder="Password">
		</label>
		<button class="button button-block button-positive">
      Submit
    </button>
	</div>

  </ion-content>
</ion-view>
