<ion-view view-title="Calendar">
  <ion-nav-buttons side="right" >
    <a class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>

  <script id="shifts-popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <div class="list">
          <a class="item" href="#/tab/shifts" ng-click="popoverClicked()">
            Calendar view
          </a>
          <a class="item" href="#/tab/shifts/input" ng-click="popoverClicked()">
            Shift input
          </a>
          <a class="item" href="http://showcase.ionicframework.com/" ng-click="popoverClicked()">
            Shift patterns
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>

  <ion-content>
    Calendar
  </ion-content>
</ion-view>
