<ion-view view-title="Shift input">
<ion-content>
  <ion-list>
    <ion-item>
    1
    <div class="button-bar">
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          A
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          B
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          C
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          D
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

    </div>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
