<ion-view view-title="Shifts" cache-view="false">
  <!-- <ion-nav-buttons side="right" >
    <a class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)"></a>
  </ion-nav-buttons> -->

  <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
      <a class="tab-item" ng-class="viewTab ? 'active' : ''" ng-click="viewTabClicked()">
        Swap
      </a>
      <a class="tab-item" ng-class="inputTab ? 'active' : ''" ng-click="inputTabClicked()">
        Input
      </a>
      <a class="tab-item" ng-class="patternsTab ? 'active' : ''" ng-click="patternsTabClicked()">
        Patterns
      </a>
    </div>
  </div>
  <div class="row loader-holder">
    <ion-spinner class="actual-loader spinner-positive" icon="lines" ng-show="loader"></ion-spinner>
  </div>
  <ion-content class="has-top-nav">
    <div class="shifts-input" ng-controller="ShiftsInputCtrl" ng-show="inputTab">
      <div class="calendar-holder">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" auto-play="false" active-slide="12">
          <ion-slide ng-repeat="month in calendarObjects">
            <div class="month-bar stable-bg">
              <span class="icon-holder back-icon" ng-click="previousSlide()">
                <i class="icon ion-ios-arrow-back"></i>
              </span>
              <span>
                {{month.title}}
              </span>
              <span class="icon-holder forward-icon" ng-click="nextSlide()">
                <i class="icon ion-ios-arrow-forward"></i>
              </span>
            </div>
            <div class="days-of-week-bar">
              <div class="row">
                <div class="col special">S</div>
                <div class="col">M</div>
                <div class="col">T</div>
                <div class="col">W</div>
                <div class="col">T</div>
                <div class="col">F</div>
                <div class="col special">S</div>
              </div>
            </div>
            <div class="dates">
              <div class="row" ng-repeat="row in month.rows">
                <div class="col" ng-repeat="date in row" ng-class="date.isInCurrentMonth ? '' : 'not-current-month'">
                  <div class="date-number">
                    {{date.dayNum}}
                  </div>
                  <div class="content-text">
                    Dx
                  </div>
                </div>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <div class="shifts-patterns" ng-controller="ShiftsPatternsCtrl" ng-show="patternsTab">
      <notification ng-model="message" ng-show="message"></notification>
      <div class="list">
        <ion-list ng-repeat="group in groupsWithShiftTypes">
          <div class="item item-divider shift-pattern-group">
            <div class="shift-pattern-group-name">
              {{group.name}}
            </div>
            <a class="add-pattern positive" href="#/tab/shifts/patterns/{{group.id}}/new">
              <i class="icon ion-android-add-circle"></i>
              Add pattern
            </a>
          </div>
          <ion-item ng-repeat="shiftType in group.shift_types" type="item-text-wrap" class="item item-icon-right" href="#/tab/shifts/patterns/{{shiftType.id}}">
            {{shiftType.abbreviation}}: {{shiftType.name}}
            <span class="item-note">
              {{shiftType.start_hour | numberFixedLen: 2}}:{{shiftType.start_minute | numberFixedLen: 2}} - {{prettyEndTime(shiftType)}}
            </span>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
