<ion-view cache-view="false">
  <ion-nav-title>Comments</ion-nav-title>
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()">Back</a>
  </ion-nav-buttons>
  <ion-content class="comment-page">
    <div class="list comment-list" ng-if="comments.length > 0">
      <div class="item" ng-repeat="comment in comments">
        <h2>{{comment.message}}</h2>
        <p>{{comment.user.first_name}} {{comment.user.last_name}} - <span am-time-ago="comment.created_at | amParse:'YYYY-MM-DDTHH:mm:ss.sssZ'"></span><span ng-if="userId == comment.user.id"> - <a ng-click="deleteComment(comment.id)">delete</a></span></p>
      </div>
    </div>
    <div ng-if="comments.length == 0">
      <div class="no-comments-yet">
        No comments yet - write the first!
      </div>
    </div>
  </ion-content>

  <div class="comments-top-holder">
    <div class="row">
      <div class="col-90">
        <p>
          <b class="date-title">
            <i class="icon ion-star"></i>
            {{stringDateToWords(shift.start_date)}}
          </b>
        </p>
      </div>
      <div class="col-10 icon-holder">
        <i class="icon ion-android-arrow-dropup-circle" ng-click="showAdditionalDetails = false" ng-show="showAdditionalDetails"></i>
        <i class="icon ion-android-arrow-dropdown-circle" ng-click="showAdditionalDetails = true" ng-show="!showAdditionalDetails"></i>
      </div>
    </div>
    <div class="additional-details" ng-show="showAdditionalDetails">
      <p>
        {{shift.shift_type.name}} ({{shift.shift_type.start_hour | numberFixedLen: 2}}:{{shift.shift_type.start_minute | numberFixedLen: 2}} - {{prettyEndTime(shift.shift_type)}})
      </p>
      <p>
        {{shift.user.first_name}} {{shift.user.last_name}}
      </p>
      <p>
        {{shift.group.name}}
      </p>
      <p ng-if="shift.swap_notes">
        Notes: {{shift.swap_notes}}
      </p>
    </div>
  </div>

  <div class="row message-row">
    <div class="col-80">
      <textarea placeholder="Write a comment" class="comment-message-textarea" ng-model="message" tagged-autogrow></textarea>
    </div>
    <div class="col-20 button button-energized send-button" ng-click="sendMessage()" ng-enter="sendMessage()">
      <i class="icon ion-android-send" ng-show="!sending"></i>
      <ion-spinner class="dots-spinner" icon="dots" ng-show="sending"></ion-spinner>
    </div>
  </div>
</ion-view>
