<div ng-show="!loader">
  <div class="detailed-group-header-holder">
    <div class="title">
      <h4>
        {{group.name}}
      </h4>
      <p>
        Located in: <span ng-if="group.province_state">{{group.province_state}}, </span>{{group.country}}
      </p>
    </div>
    <div ng-if="groupHasUser">
      This group has <ng-pluralize count="users.length || 0" when="{'0': 'no members yet!', '1': '1 member - and it is you! Get your colleagues to join the group so you can swap with them.', 'other': '{{users.length}} members - and you are one of them! Happy swapping!'}"></ng-pluralize>
    </div>
    <div ng-if="!groupHasUser">
      This group has <ng-pluralize count="users.length || 0" when="{'0': 'no members yet - be the first!', '1': '1 member - join this lonely member!', 'other': '{{users.length}} members. Join to swap your shifts with them!'}"></ng-pluralize>
    </div>
    <button class="button button-positive" ng-click="joinGroup()" ng-show="!groupHasUser" ng-class="buttonClicked ? 'clicked' : ''">
      Join Group
    </button>
    <div>
    </div>
    <div ng-show="groupHasUser">
      <div class="row">
        <div class="col-50">
          <button class="button">
            <i class="icon ion-checkmark"></i> Joined
          </button>
        </div>
        <div class="col-50 col-center">
          <a ng-click="leaveGroup()">
            Leave group
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="item item-divider">
    Members:
  </div>
  <ion-list >
    <ion-item ng-repeat="user in users" type="item-text-wrap">
      {{user.first_name}} {{user.last_name}}
    </ion-item>
  </ion-list>

  <!-- <div class="detailed-group-footer-holder">
    <button class="button button-positive" ng-click="joinGroup()" ng-show="!groupHasUser" ng-class="buttonClicked ? 'clicked' : ''">
      Join group
    </button>
    <div>
    </div>
    <div ng-show="groupHasUser">
      <div class="row">
        <div class="col-50">
          <button class="button">
            <i class="icon ion-checkmark"></i> Joined
          </button>
        </div>
        <div class="col-50 col-center">
          <a ng-click="leaveGroup()">
            Leave group
          </a>
        </div>
      </div>
    </div>
  </div> -->
</div>