<div class="detailed-group-header-holder">
  <div class="title">
    <h4>
      {{group.name}}
    </h4>
    <p>
      Located in: <span ng-if="group.province_state">{{group.province_state}}, </span>{{group.country}}
    </p>
  </div>
  <div>
    {{message}}
  </div>
  <button class="button button-positive" ng-click="joinGroup()" ng-show="!groupHasUser" ng-class="buttonClicked ? 'clicked' : ''">
    <ion-spinner icon="lines" class="join-leave-loader" ng-show="buttonClicked"></ion-spinner>
    Join Group
  </button>
  <div>
  </div>
  <div ng-show="groupHasUser">
    <div class="row">
      <div class="col">
        <button class="button">
          <i class="icon ion-checkmark"></i> Joined
        </button>
      </div>
      <div class="col col-center">
        <a class="leave-group-link" ng-click="leaveGroup()">
          Leave group
        </a>
      </div>
    </div>
  </div>
</div>

<div class="item item-divider">
  Members:
</div>
<ion-list >
  <ion-item ng-repeat="user in users" type="item-text-wrap">
    {{user.first_name}} {{user.last_name}}
  </ion-item>
</ion-list>

<div class="detailed-group-footer-holder">
  <button class="button button-positive" ng-click="joinGroup()" ng-show="!groupHasUser" ng-class="buttonClicked ? 'clicked' : ''">
    <ion-spinner icon="lines" class="join-leave-loader" ng-show="buttonClicked"></ion-spinner>
    Join group
  </button>
  <div>
  </div>
  <div ng-show="groupHasUser">
    <div class="row">
      <div class="col">
        <button class="button">
          <i class="icon ion-checkmark"></i> Joined
        </button>
      </div>
      <div class="col col-center">
        <a class="leave-group-link" ng-click="leaveGroup()">
          Leave group
        </a>
      </div>
    </div>
  </div>
</div>