<ion-view view-title="Notifications">
  <ion-content>
    <div class="list notifications-list">
      <div ng-repeat="notification in notifications">
        <comment ng-model="notification" ng-if="notification.category == 'Comment'"></comment>
        <join-group ng-model="notification" ng-if="notification.category == 'JoinGroup'"></join-group>
        <swap-offered ng-model="notification" ng-if="notification.category == 'SwapOffered'"></swap-offered>
        <swap-accepted ng-model="notification" ng-if="notification.category == 'SwapAccepted'"></swap-accepted>
      </div>
    </div>
  </ion-content>
</ion-view>
