<ion-view view-title="Swaps">
  <ion-tabs class="tabs-positive tabs-icon-only tabs-top">

    <ion-tab title="My Swaps" on-select="mySwapsTabSelected()" ng-controller="SwapsOwnCtrl">
      <ion-view cache-view="false">
        <div class="row loader-holder">
          <ion-spinner class="actual-loader spinner-positive" icon="lines" ng-show="loader"></ion-spinner>
        </div>
        <ion-content>
          <notification ng-model="message" ng-show="message"></notification>
          <div ng-show="!loader">
            <div ng-if="ownShiftsWithSwaps.length > 0">
              <div class="list">
                <div ng-repeat="(name, shifts) in ownShiftsByStatus">
                  <div class="item item-divider">
                    {{name}}
                  </div>
                  <a class="item item-avatar item-icon-right" href="#/tab/swaps/own/{{shift.id}}/detail" ng-repeat="shift in shifts">
                    <div class="date-as-square">
                      <div class="month">
                        {{abbreviatedMonth(shift.start_date)}}
                      </div>
                      <div class="day">
                        {{dateFromString(shift.start_date)}}
                      </div>
                    </div>
                    <h2>{{shift.shift_type.name}}</h2>
                    <p>{{shift.group.name}}</p>
                    <p ng-if="!shift.has_accepted_a_swap">
                      <ng-pluralize count="countShiftsOffered(shift.swaps)" when="{'0': 'No Offers Yet', '1': '1 Offer ', 'other': '{{countShiftsOffered(shift.swaps)}} Offers '}"></ng-pluralize>
                      <ng-pluralize count="shift.swaps.length || 0" when="{'0': '', '1': 'from 1 Person', 'other': 'from {{shift.swaps.length}} People'}"></ng-pluralize>
                    </p>
                    <div class="has-accepted-a-swap-details" ng-if="shift.has_accepted_a_swap">
                      <p>
                        Swap for: {{stringDateToWords(shift.offered_shift.start_date)}}
                      </p>
                      <p>
                        With: {{shift.offered_user.first_name}} {{shift.offered_user.last_name}}
                      </p>
                      <p>
                        Shift type: {{shift.offered_shift_type.name}}
                      </p>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </a>
                </div>

              </div>
              <div class="double-tab-bottom-buffer"></div>
            </div>

            <div ng-if="ownShiftsWithSwaps.length == 0">
              <div class="card">
                <div class="item item-text-wrap">
                  <p>
                    You haven't listed any shifts you want to swap yet.
                  </p>
                  <br>
                  <p>
                    To swap a shift you have:
                  </p>
                  <br>
                  <p>
                    1. Go to the <a href="#/tab/calendar/index">Calendar tab</a>
                  </p>
                  <p>
                    2. Select a shift
                  </p>
                  <p>
                    3. Click swap
                  </p>
                  <br>
                  <p>
                    Shifts you want to swap will then show up here.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Swaps Offered" on-select="pendingTabSelected()" ng-controller="SwapsPendingCtrl">
      <ion-view>
        <div class="row loader-holder">
          <ion-spinner class="actual-loader spinner-positive" icon="lines" ng-show="loader"></ion-spinner>
        </div>
        <ion-content>
          <notification ng-model="message" ng-show="message"></notification>
          <div class="list card">

            <div class="item item-avatar">
              <h2>Marty McFly</h2>
              <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
              <p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
              </p>
              <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
              </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
              </a>
            </div>

          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Up for Grabs" on-select="upForGrabsTabSelected()" ng-controller="SwapsUpForGrabsCtrl">
      <ion-view>
        <div class="row loader-holder">
          <ion-spinner class="actual-loader spinner-positive" icon="lines" ng-show="loader"></ion-spinner>
        </div>
        <ion-content>
          <div ng-controller="CalendarCtrl" class="calender-display">
            <div class="calendar-holder" ng-if="calendarObjects">
              <ion-slide-box show-pager="false" auto-play="false" active-slide="3">
                <ion-slide ng-repeat="month in calendarObjects">
                  <div class="month-bar stable-bg">
                    <span class="icon-holder back-icon" ng-click="previousSlide()">
                      <i class="icon ion-ios-arrow-back"></i>
                    </span>
                    <span>
                      {{month.title}}
                    </span>
                    <span class="icon-holder forward-icon" ng-click="nextSlide()">
                      <i class="icon ion-ios-arrow-forward"></i>
                    </span>
                  </div>
                  <div class="days-of-week-bar">
                    <div class="row">
                      <div class="col special">S</div>
                      <div class="col">M</div>
                      <div class="col">T</div>
                      <div class="col">W</div>
                      <div class="col">T</div>
                      <div class="col">F</div>
                      <div class="col special">S</div>
                    </div>
                  </div>
                  <div class="dates">
                    <div class="row" ng-repeat="row in month.rows">
                      <div class="col date-col" ng-repeat="date in row" ng-class="{'not-current-month': !date.isInCurrentMonth, 'swap': date.shift.swap}">
                        <div class="date-number">
                          {{date.dayNum}}
                        </div>
                        <div class="content-text">
                          <div ng-if="date.shift">
                            {{date.shift.shift_type.abbreviation}}
                          </div>
                          <div ng-if="date.availableShifts" class="num-shifts-available-on-calendar-holder">
                            <a href="#/tab/swaps/up-for-grabs/{{date.dateAsString}}/list">
                              <div class="num-shifts-available-on-calendar in-calendar">
                                {{date.availableShifts.length}}
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ion-slide>
              </ion-slide-box>
            </div>
          </div>
          <div class="shifts-input input-tab-contents" ng-controller="ShiftsInputCtrl" ng-show="!loader">
            <div class="shift-input-buttons-holder">
              <div class="bottom-block">
                <!-- <div>
                  <div class="num-shifts-available-on-calendar outside-of-calendar">#</div>
                  <div class="num-shifts-description">
                    Tap to see specific days
                  </div>
                </div>
                <div class="clearfix"></div>
                <br> -->
                <div>
                  <a class="button button-positive" href="#/tab/swaps/up-for-grabs/all/list">
                    View All as List
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

  </ion-tabs>
  <ion-content>
  </ion-content>
</ion-view>
