<ion-view cache-view="false">
  <ion-nav-title></ion-nav-title>
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/swaps/index" ng-click="clearHistory()">Swaps Offered</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-chatbox" href="#/tab/swaps/comments/{{shift.id}}"> {{shift.comments.length}}</a>
  </ion-nav-buttons>
  <div class="row loader-holder">
    <ion-spinner class="actual-loader spinner-positive ng-hide" icon="lines" ng-show="loader"></ion-spinner>
  </div>
  <ion-content>
    <div class="swap-own-detail-holder ng-hide" ng-show="!loader">
      <p>
        <b class="date-title">
          <i class="icon ion-star"></i>
          {{stringDateToWords(shift.start_date)}}
        </b>
      </p>
      <p>
        {{shift.group.name}}
      </p>
      <p>
        {{shift.user.first_name}} {{shift.user.last_name}}
      </p>
      <p>
        {{shift.shift_type.name}}
      </p>
      <p>
        {{shift.shift_type.start_hour | numberFixedLen: 2}}:{{shift.shift_type.start_minute | numberFixedLen: 2}} - {{prettyEndTime(shift.shift_type)}}
      </p>
      <p ng-if="shift.swap_notes">
        Notes: {{shift.swap_notes}}
      </p>
      <div class="swapping-for-holder" ng-if="swap.state == 'Pending approval'">
        <p>
          <b class="date-title">
          <i class="icon ion-arrow-swap"></i>
            Swapping for: {{stringDateToWords(swap.accepted_shift.start_date)}}
          </b>
        </p>
        <p>
          {{swap.accepted_shift.shift_type.name}}
        </p>
        <p>
          {{swap.accepted_shift.shift_type.start_hour | numberFixedLen: 2}}:{{swap.accepted_shift.shift_type.start_minute | numberFixedLen: 2}} - {{prettyEndTime(swap.accepted_shift.shift_type)}}
        </p>
      </div>
      <p ng-if="!shift.swaps || shift.swaps.length == 0">
        No swaps offered yet
      </p>

      <div class="action-buttons-holder">
        <button class="button button-energized approve-button" ng-if="swap.state == 'Pending approval'" ng-click="approved()">
          Approved
        </button>
      </div>

    </div>
    <div class="list ng-hide" ng-show="!loader" ng-if="shift.swaps && shift.swaps.length > 0">

      <div ng-controller="CalendarCtrl" class="calender-display">
        <div class="calendar-holder" ng-if="calendarObjects">
          <ion-slide-box show-pager="false" auto-play="false" active-slide="3">
            <ion-slide ng-repeat="month in calendarObjects">
              <div class="month-bar stable-bg">
                <span class="icon-holder back-icon" ng-click="previousSlide()">
                  <i class="icon ion-ios-arrow-back"></i>
                </span>
                <span>
                  {{month.title}}
                </span>
                <span class="icon-holder forward-icon" ng-click="nextSlide()">
                  <i class="icon ion-ios-arrow-forward"></i>
                </span>
              </div>
              <div class="days-of-week-bar">
                <div class="row">
                  <div class="col special">S</div>
                  <div class="col">M</div>
                  <div class="col">T</div>
                  <div class="col">W</div>
                  <div class="col">T</div>
                  <div class="col">F</div>
                  <div class="col special">S</div>
                </div>
              </div>
              <div class="dates">
                <div class="row" ng-repeat="row in month.rows">
                  <div class="col date-col" ng-repeat="date in row" ng-class="{'not-current-month': !date.isInCurrentMonth, 'swap': date.shift.swap}" data-date="{{date.dayNum}}-{{date.month}}-{{date.year}}">
                    <div class="date-number">
                      {{date.dayNum}}
                    </div>
                    <div class="content-text">
                      <div ng-if="date.shift && isBeingOffered(date.shift)">
                        <a class="shift-abbreviation-as-link" ng-click="scrollToAnchor($event)">
                          {{date.shift.shift_type.abbreviation}}
                        </a>
                      </div>
                      <div ng-if="date.shift && !isBeingOffered(date.shift)">
                        {{date.shift.shift_type.abbreviation}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>

      <div class="item item-divider">
        You offered: <a ng-if="swap.state == 'Open'" ng-click="cancelAllOfferedShifts()">(Cancel all)</a>
      </div>

      <div class="offered-shifts-list-holder">
        <div class="item item-avatar item-button-right {{offeredShift.start_date}}" ng-repeat="offeredShift in orderedOfferedShifts">
          <div class="date-as-square">
            <div class="month">
              {{abbreviatedMonth(offeredShift.start_date)}}
            </div>
            <div class="day">
              {{dateFromString(offeredShift.start_date)}}
            </div>
          </div>
          <h2>{{offeredShift.shift_type.name}}</h2>
          <p>
            {{offeredShift.shift_type.start_hour | numberFixedLen: 2}}:{{offeredShift.shift_type.start_minute | numberFixedLen: 2}} - {{prettyEndTime(offeredShift.shift_type)}}
          </p>
          <p>{{offeredShift.user.first_name}} {{offeredShift.user.last_name}}</p>

          <button class="button button-positive accept-offered-swap-button" ng-click="cancelOfferedShift($event, offeredShift.id, offeredShift.start_date)">
            Cancel
          </button>

          <div ng-if="swap.state == 'Pending approval' && offeredShift.id == swap.accepted_shift.id">
            <i class="icon ion-checkmark-circled"></i>
            Pending approval
          </div>
        </div>
      </div>

      <div class="bottom-note" ng-if="swap.state == 'Open'">
        <div>
          <button class="button button-energized" ng-click="goToEditShifts()">
            Edit Shifts Offered
          </button>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
