<ion-view cache-view="false">
  <ion-nav-title>Date</ion-nav-title>
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/swaps/index" ng-click="clearHistory()">Back</a>
  </ion-nav-buttons>
  <ion-content>
    <notification ng-model="message" ng-show="message"></notification>
      <div class="list card up-for-grabs-list" ng-repeat="shift in shiftsUpForGrabs">

        <div class="item item-avatar">
          <div class="date-as-square">
            <div class="month">
              {{abbreviatedMonth(shift.start_date)}}
            </div>
            <div class="day">
              {{dateFromString(shift.start_date)}}
            </div>
          </div>
          <h2>{{shift.shift_type.name}}</h2>
          <p>
            {{shift.shift_type.start_hour | numberFixedLen: 2}}:{{shift.shift_type.start_minute | numberFixedLen: 2}} - {{prettyEndTime(shift.shift_type)}}
          </p>
        </div>

        <div class="item item-body">
          <p>
            <b>
              {{shift.user.first_name}} {{shift.user.last_name}}
            </b>
          </p>
          <p>
            {{shift.group.name}}
          </p>
          <p>
            {{shift.swap_notes}}
          </p>
          <p>
            <a href="#" class="subdued">
              <ng-pluralize count="shift.swaps.length" when="{'0': 'No Offers Yet', '1': '1 Offer', 'other': '{{shift.swaps.length}} Offers'}"></ng-pluralize>
            </a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ng-if="shift.already_offered_swap">
            <i class="icon ion-checkmark"></i>
            Already Offered
          </a>
          <a class="tab-item" href="#/tab/swaps/up-for-grabs/offer/{{shift.id}}/{{day}}/new" ng-if="!shift.already_offered_swap">
            <i class="icon ion-arrow-swap"></i>
            Offer to Swap
          </a>
          <a class="tab-item">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
        </div>

      </div>
  </ion-content>
</ion-view>
