.shift-patterns-detail h4 {
  margin-left: 15px;
}

.shift-pattern-list {
  margin-bottom: 0px;
}

.shift-pattern-list .input-label {
  font-size: 14px;
}

.shift-name-input {
  font-size: 18px !important;
}

.shift-patterns-detail .time-section-holder {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.shift-patterns-detail .times-holder {
  width: 100px;
  font-size: 30px;
}

.shift-patterns-detail .up-hour-icon,
.shift-patterns-detail .down-hour-icon {
  margin-left: 8px;
}

.shift-patterns-detail .up-minute-icon,
.shift-patterns-detail .down-minute-icon {
  margin-left: 30px;
}

.shift-patterns-detail .action-buttons-holder {
  padding: 15px;
}