<ion-view view-title="General" cache-view="false">
  <ion-content>
    <notification ng-model="message" ng-show="message"></notification>
    <div class="list">

      <a class="item item-icon-left item-icon-right" href="#/tab/general/groups/index">
        <i class="icon ion-ios-people"></i>
        Groups
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/general/patterns/index">
        <i class="icon ion-ios-calendar"></i>
        Shift Patterns
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/general/account/detail">
        <i class="icon ion-person"></i>
        Account
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="mailto:swapperteam@gmail.com" target="_blank">
        <i class="icon ion-email"></i>
        Contact Us
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

    </div>

  </ion-content>
</ion-view>
