<ion-view view-title="General">
  <ion-content>
    <div class="list">

      <a class="item item-icon-left item-icon-right" href="#/tab/groups/index">
        <i class="icon ion-ios-people"></i>
        Groups
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/general/patterns/index">
        <i class="icon ion-ios-calendar"></i>
        Shift patterns
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-person"></i>
        Account
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

    </div>

  </ion-content>
</ion-view>
