.shift-input-buttons-holder {
  margin-top: 10px;
  text-align: center;
}

.shift-input-buttons-holder button {
  font-size: 20px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.shift-input-buttons-holder button.standard-issue {
  color: black;
}

.bottom-block {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}