<ion-view view-title="Groups" ng-init="fetchGroups()">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/general/index">General</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear button-white" href="#/tab/groups/create">Add</a>
  </ion-nav-buttons>
  <div class="row loader-holder">
    <ion-spinner class="actual-loader spinner-positive" icon="lines" ng-show="loader"></ion-spinner>
  </div>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="group in groups" class="item-icon-right" type="item-text-wrap" href="#/tab/groups/{{group.id}}">
        {{group.name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>