<ion-view view-title="Groups" cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-clear button-white" href="#/initial/groups-new">Add</a>
  </ion-nav-buttons>
  <div class="row loader-holder">
    <ion-spinner class="actual-loader spinner-positive" icon="lines" ng-show="loader"></ion-spinner>
  </div>
  <ion-content>
    <div class="group-top-info">
      <h2>
        Join a group
      </h2>
      <p>
        Users can swap shifts within their groups. You can join multiple groups, or create a new group if you don't see one you belong to.
      </p>
    </div>
    <div class="item item-divider">
      Available Groups
    </div>
    <group-list></group-list>
  </ion-content>
</ion-view>