<ion-view view-title="Groups" cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button button-clear button-white" href="#/tab/general/groups/create">Add</a>
  </ion-nav-buttons>
  <div class="row loader-holder">
    <ion-spinner class="actual-loader spinner-positive" icon="lines" ng-show="loader"></ion-spinner>
  </div>
  <ion-content>
    <notification ng-model="message" ng-show="message"></notification>
    <ion-list>
      <ion-item ng-repeat="group in groups" class="item-icon-right" type="item-text-wrap" href="#/initial/groups-detail/{{group.id}}">
        {{group.name}}
        <span class="item-note" ng-if="hasUser(group)">
          Joined
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>