<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Legend</h1>
    <button class="button icon ion-close-circled close-legend-modal-button" ng-click="closeLengendModal()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="legend-modal">
      <div ng-repeat="(groupName, shiftTypes) in shiftTypesByGroup">
        <h4>
          {{groupName}}
        </h4>
        <div ng-repeat="shiftType in shiftTypes">
          <div class="row">
            <div class="col-25">
              <button class="button button-positive" data-shift-type-id="{{shiftType.id}}" data-group-id="{{shiftType.groupId}}">
                {{shiftType.abbreviation}}
              </button>
            </div>
            <div class="col-75 col-center">
              {{shiftType.name}}
            </div>
          </div>
        </div>
      </div>
      
      <h4>
        General
      </h4>
      
      <div class="row legend-row dates">
        <div class="col-25 date-col">
          <div class="sample-date">
            <div class="top-date">
              12
            </div>
            <div class="date-content">
              Ex
            </div>
          </div>
        </div>
        <div class="col-75 col-center">
          This is a normal day with a shift
        </div>
      </div>

      <div class="row legend-row dates">
        <div class="col-25 date-col swap">
          <div class="sample-date">
            <div class="top-date">
              12
            </div>
            <div class="date-content">
              Ex
            </div>
          </div>
        </div>
        <div class="col-75 col-center">
          This shift is being swapped
        </div>
      </div>

      <div class="row legend-row dates">
        <div class="col-25 date-col holiday">
          <div class="sample-date">
            <div class="top-date holiday">
              12*
            </div>
            <div class="date-content">
              Ex
            </div>
          </div>
        </div>
        <div class="col-75 col-center">
          This is a holiday
        </div>
      </div>

      <div class="row legend-row">
        <div class="col-25">
          <button class="button button-stable">
            Off
          </button>
        </div>
        <div class="col-75 col-center">
          This removes a shift
        </div>
      </div>

    </div>
  </ion-content>
</ion-modal-view>