<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Calendar Tab Info</h1>
    <button class="button icon ion-close-circled close-legend-modal-button" ng-click="closeLengendModal()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="legend-modal">

      <h4>
        Calendar
      </h4>

      <p>
        This tab allows you to input your shifts and select shifts that you want to offer up for swap.
      </p>
    
      <shift-types-legend></shift-types-legend>
      
      <general-legend></general-legend>

      <div class="custom-legend">
        <div class="row legend-row">
          <div class="col-25">
            <button class="button button-stable">
              Off
            </button>
          </div>
          <div class="col-75 col-center">
            This removes a shift
          </div>
        </div>

        <div class="row legend-row">
          <div class="col-25">
            <button class="button button-energized swap-button">
              Swap
            </button>
          </div>
          <div class="col-75 col-center">
            This puts a shift up for swap
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-modal-view>