<ion-view view-title="Account" cache-view="false">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/general/index">Back</a>
  </ion-nav-buttons>
  <div class="row loader-holder">
    <ion-spinner class="actual-loader spinner-positive ng-hide" icon="lines" ng-show="loader"></ion-spinner>
  </div>
  <ion-content>
    <div class="list account-sign-up-list ng-hide" ng-show="!loader">
      <form name="signUp">
        <div class="item item-divider">
          Email: {{user.email}}
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="firstName" placeholder="First name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="lastName" placeholder="Last name">
        </label>
        <div class="item item-divider">
          Please select
        </div>
        <ion-radio-fix name="sex" ng-model="sex" value="female">Female</ion-radio-fix>
        <ion-radio-fix name="sex" ng-model="sex" value="male">Male</ion-radio-fix>
      </form>
    </div>
    <div class="bottom-note ng-hide" ng-show="!loader">
      <div class="error-on-submit assertive ng-hide" ng-show="everthingFilledInError">
        Please fill everything in
      </div>
      <div class="error-on-submit assertive ng-hide" ng-show="sexSelectedError">
        Please select the sex you identify as
      </div>
      <button class="button button-block button-positive" ng-click="updateUser(firstName, lastName, sex)">
        Update Account
      </button>
    </div>

  </ion-content>
</ion-view>
